/vendor
/node_modules
/public/storage
/storage/uploads
Homestead.yaml
Homestead.json
.env
/config
/database
/logs
package.json
composer.lock
composer.json
/public/img/employees
/public/build/changes.txt
/public/build/pmlogs.txt
/public/build/postmates.txt
/tests
**/.DS_Store
.DS_Store