@font-face {
  font-family: "light";
  src:url("../fonts/futura-light.ttf");
}
.light{
  font-family:"light";
}
@font-face {
  font-family: "medium";
  src:url("../fonts/futura-medium.ttf");
}
.medium{
  font-family:"medium";
} 
#id_wrapper{
  width: 1322px;
  height: 2071px;
  position: absolute;
  top: 0;
  left: 0;
  
}
#id_container {
  width: 1322px;
  height: 2071px;
  overflow: hidden;
}         
#videoElement {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 360px;
  height: 640px;
  display: none;
  clear: both;
  float: right;
}
#seriousCanvas{
  background: transparent;
  position: relative;
  left: 245px;
  top: 511px;  
  width: 1560px;
  height: 1560px;
}
#imageElementWrapper{
  width: 320px;
}
#imageElement{
  display: hidden;
  width: 50%;
  margin: 0 auto;
  clear: both;
  float: right;
}
#canvasElement {
  position: absolute;
  top: 310px;
  left: 2px;
  background-color: transparent;
}
#employee_details1, #employee_details2{
  position: absolute;
  top: 735px;
  left: 100px;
  width: 610px;
}
#employee_details1 p{
  text-align: left;
  color: #5e5e5e;
  font-size: 20px;
  line-height: 36px;
  padding:0;
  margin:0;
  letter-spacing: 1px;
}
p#employee_name{
  font-size: 63px;
  line-height: 75px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
p#employee_nick{
  color: #219fec;
  font-size: 135px;
  line-height: 170px;
}
p#employee_position{
  font-size: 40px;
  line-height: 50px;
  padding-top: 20px;
  letter-spacing: 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
#foreground{
  position: absolute;
  top: 0;
  left: 0;
  width: 1322px;
  height: 2071px;
}
#controls{
  width: 640px;
  position: fixed;
  right: 0;
  top: 0; 
}
#inputs{
  float: right;
}
.buttons{
  width: 150px;
  height: 75px;
  display: block;
  margin: 10px 0;
  float: right;
  clear: both;
}
table{
  width: 255px;
  float: right;
  clear:both;
}
#signature_wrapper{
  border: 1px #ccc solid;
  background: #fff;
  width: 848px;
  height: 480px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#signature_canvas{
  width: 768px;
  height: 432px;
  margin: 0 auto;
}
#signature_controls{
  width: 100%;
  height: 48px;
}
#dimmer{
  margin: 0;
  border: 0;
  padding: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.95;
}
.stop-scrolling {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

#id_signature{
  max-width: 100%;
    height: auto;
}
#id_signature_wrapper{
  width: 480px;
  height: 270px;
  position: absolute;
  bottom: 100px;
  left: 5px;
}

#id_number_wrapper{
  position: absolute;
  bottom: 45px;
  width: 100%;
  left: 100px;
}
#id_number_wrapper p, #id_number_wrapper p span{
  font-size: 45px;
  color: #fff;
  text-align: left;
  letter-spacing: 2px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  text-shadow: rgba(255,255,255,0.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
#toast-container {
    min-width: 10%;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}
.tap-target-content h5, .tap-target-content p{
  color: #fff;
  margin-left: 55px;
}


#crosshair_wrapper{
  width: 430px;
  height: 430px;
  position: absolute;
  left: 720px;
  top: 778px;
}
#crosshair_wrapper img{
  width: 100%;
  height: 100%;
}
.loader{
  position: absolute;
  top :0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#preloader_wrapper{
  display: none;
  margin: 0 auto;
  width: 40%;
  height: 100%;
}