@page {
  size: 2.204in 3.452in;
  margin: 0mm;
}
body{
  width: 528px;
  height: 822px;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  margin: 0;
  padding: 0;
}
@media print {
  html, body {
    width: 2.204in;
    height: 3.452in;
    margin: 0;
    padding: 0;
  }
  img{
    margin: 0;
    padding: 0;
    width: 528px;
    height: 822px;
    
    
  }
  div {
    page-break-after: always; 
    margin: 0;
    padding: 0;
    width: 528px;
    height: 822px;
    
  }
}