@page {
  size: 2.21in 3.43in;
  margin: 0mm;
}
body{
  width: 2.21in;
  height: 3.43in;
  margin: 0;
  padding: 0;
}
img{
  margin: 0;
  padding: 0;
}
@media print {
  html, body {
    width: 2.21in;
    height: 3.43in;
    margin: 0;
    padding: 0;
  }
  img{
    margin: 0;
    padding: 0;
    width: 2.21in;
    height: 3.43in;
    
    
  }
  div {
    page-break-after: always; 
    margin: 0;
    padding: 0;
    width: 2.21in;
    height: 3.42in;
    
  }
}