@page {
  size: 54mm 85.6mm;
  margin: 0;
}
body{
  width: 54mm;
  height: 85.6mm;
  margin: 0;
  padding: 0;
}
img{
  margin: 0;
  padding: 0;
}
@media print {
  html, body {
    width: 54mm;
    height: 85.6mm;
    margin: 0;
    padding: 0;
  }
  img{
    margin: 0;
    padding: 0;
    width: 54mm;
    height: 3.45in;
    
    
  }
  div {
    page-break-after: always; 
    margin: 0;
    padding: 0;
    width: 54mm;
    height: 3.34in;
    
  }
}